html, body {
    min-height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 0;
    padding: 24px 0 0;
    overflow: hidden;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .6);
    font: 11px/14px Arial, sans-serif;
    transition: width .3s .3s, height .3s, border-radius .3s;
    opacity: .97;
    text-align: center;
}
    .form-expand-input {
        position: absolute;
        left: -9000px;
    }
    .form-expand-input:checked + .form {
        width: 220px;
        height: 312px;
        border-radius: 2px;
        transition: width .4s, height .4s .4s, border-radius .4s .4s;
    }

    .form-row {
        margin: 5px 10px 9px;
    }

        .form-row_submit {
            text-align: right;
        }

    .form-label {
        display: block;
        font-weight: bold;
    }
        .form-label_expand {
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: transform .4s .2s;
        }
        .form-label_expand::before,
        .form-label_expand::after {
            content: '';
            display: block;
            width: 50%;
            box-shadow: 0 0 0 1px #000;
            margin: 50% auto;
        }
        .form-label_expand::after {
            transform: rotate(90deg);
        }
            .form-expand-input:checked + .form .form-label_expand {
                transform: rotate(45deg);
                transition: transform .2s .2s;
            }

    .form input[type=text],
    .form input[type=range] {
        width: 150px;
    }

    .form input,
    .form output {
        margin: 0;
        vertical-align: middle;
    }

    .form-vocabulary-list {
        float: right;
        margin: 0 0 1px;
        font-size: 10px;
    }

    .form textarea {
        width: 100%;
        height: 50px;
        padding: 0;
        box-sizing: border-box;
        resize: none;
    }

    .form input:focus,
    .form textarea:focus {
        outline: 0;
    }

    .form input:invalid,
    .form textarea:invalid {
        border-color: #b00;
    }

    .form-link {
        float: left;
    }