html, body {
    min-height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 220px;
    background: #fff;
    font: 11px/14px Arial, sans-serif;
    transform: translate(-100%, 0);
    transition: transform .4s;
    opacity: .9;
    text-align: center;
}
    .form-expand-input:checked + .form {
        transform: translate(0, 0);
    }
    .form.is-loading::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, .6);
    }

    .form-row {
        margin: 5px 10px 9px;
    }

        .form-row_submit {
            text-align: right;
        }

    .form-expand-input,
    input[type="file"] {
        position: absolute;
        left: -9000px;
    }

    .form-label {
        display: block;
        font-weight: bold;
    }
        .form-label_expand {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background: radial-gradient(ellipse at center, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 50%);
            transform: translate(100%, 0);
            transition: transform .4s;
        }
        .form-label_expand::before,
        .form-label_expand::after {
            content: '';
            display: block;
            width: 50%;
            box-shadow: 0 0 0 1px #000;
            margin: 50% auto;
        }
        .form-label_expand::after {
            transform: rotate(90deg);
        }
            .form-expand-input:checked + .form .form-label_expand {
                transform: rotate(45deg) translate(0, 0);
            }

        .form-label_custom-file {
            padding: 2px 4px;
            border: 1px solid #eee;
            border-radius: 2px;
            cursor: pointer;
        }

    .form input[type=text],
    .form input[type=range] {
        width: 150px;
    }

    .form input,
    .form output {
        margin: 0;
        vertical-align: middle;
    }

    .form output {
        position: absolute;
        margin: 0 0 0 5px;
    }

        .form .form-color-output {
            width: 8px;
            height: 8px;
            margin-top: 3px;
            border: 1px solid #999;
        }

    .form-custom-file {
        margin: 10px 0 0;
    }
    .form.video-on .form-custom-file,
    .form.video-on .form-submit {
        display: none;
    }

    .form-vocabulary-list {
        float: right;
        margin: 0 0 1px;
        font-size: 10px;
    }

    .form textarea {
        width: 100%;
        height: 100px;
        padding: 0;
        box-sizing: border-box;
        resize: none;
    }

    .form input:focus,
    .form textarea:focus {
        outline: 0;
    }

    .form input:invalid,
    .form textarea:invalid {
        border-color: #b00;
    }

    .form-link {
        float: left;
    }